_Store
log
db/seed_data/exported
db/*.sql
tmp
public/system
public/system/images
public/javascripts/cache
public/stylesheets/cache
*.rbc
*.rdb
*.swp
.sass-cache
config/database.yml
config/secrets.yml
coverage
.bundle
appscript
public/stylesheets/*
public/assets/*
tags
routes.txt
