<!DOCTYPE HTML>
<html>
   <head>
      <title>MatchTrak</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
   </head>
   <body>
  <div class="container">
    <h1 class="center-align">MatchTrak™</h1>
    <h5 class="center-align">MatchTrak is a CS:GO tool for in-game leaders or out-of-game captains to manage their team better. It gives them visibility into their team's loadout, health, ammo, and other stats, allowing them to make better informed calls.</h5>
    <a class="waves-effect waves-light btn center-align">Try today</a>
     </div>
   </body>
</html>
